*{
    font-family: Garamond;
}
#menu{
    float:  left;
    background-color: olive;
    height: 110px;
    width: 75%;
}
#logo{
    float: left;
    background-color: olive;
    height: 110px;
    width: 25%;
}
#baner , #stopka{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 30px;
}
#lewy , #prawy{
    float: left;
    background-color: wheat;
    width: 50%;
    height: 450px;
    font-size: 150%;
}
h1{
    letter-spacing:12px ;
}
a{
    color: lightgray;
    margin: 30px;
    font-size: 150%;
    line-height : 110px;
    text-decoration:none
   
}
a:hover{
    color: white;
    border-bottom: 1px;
    border-color: red;
}
#numer3{
    
    text-decoration: line-through;
}