body{
    
    background-color: #EEEEEE;
}
.container {
    width: 1000px;
    margin: auto;
    text-align: center;
}
.container , #stopka {
    background-color:  #C0C0C0;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo{
     float: left;
    width: 400px;
}
#menu{
    float: left;
    width: 600px;
}
#baner{
    clear: both;
    background-color: #DDDDDD;
    height: 200px;
}
#mein{
    margin: 50px;
}
#stopka{
    text-align: right;
}
a{
    color: #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none  ;
}
hr{
    background-color: #C0C0C0;
    width: 70%;
    border-width: 2px;
}
td,tr{
    text-align: left;
}